.currency-slider-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.currency-slider {
  display: inline-flex;
  animation: marquee 30s linear infinite alternate; /* Alternate direction */
}

.currency-item {
  padding-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55%);
  }
}
